.git
.gitignore
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
.env
.env.*
!.env.production

# 불필요한 파일들 제외
vendor/
*.tar
*.zip
*.log
.DS_Store
Thumbs.db
VRS/lib/dev-extreme/js/dx.*.debug.js
VRS/lib/dev-extreme/js/dx.web.debug.js
